.aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.aspect-4-3 {
  aspect-ratio: 4 / 3;
}

.aspect-1-1 {
  aspect-ratio: 1 / 1;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.designer-description {
  p {
    font-size: 18px;
    line-height: 26px;
  }
}

.description-home {
  p {
    font-size: 45px;
    line-height: 52px;
  }
  div {
    font-size: 45px;
    line-height: 52px;
  }
}

.information-home-title {
  p {
    font-size: 26px;
    line-height: 35px;
  }
  div {
    font-size: 26px;
    line-height: 35px;
  }
}

.information-home-description {
  p {
    font-size: 35px;
    line-height: 45px;
  }
  div {
    font-size: 35px;
    line-height: 45px;
  }
}
